{% extends parent_template %}
{% load i18n %}
{% block content %}
    <div class="cake-info">
        <div class="cake-name col-sm-12">
            <h3>{{ cake.name }}</h3>
        </div>
        <div class="cake-image col-sm-6 col-xs-12">
            <img class="group1" src="{{ cake.image.url }}" title="{{ cake.name }}" alt="{{ cake.name }}" />
        </div>
        <div class="cake-details col-sm-6 col-xs-12 text-capitalize">
            <ul>
                <li>{% trans "name" %}: {{ cake.name }}</li>
                <li>{% trans "categories" %}:
                    {% for category in cake.category.all %}
                        <a href="/category/{{ category.slug }}" class="ajax-link">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </li>
                <li>{% trans "price" %}: {{ cake.price }}</li>
            </ul>
        </div>
        <div class="cake-description col-sm-12">
            <p>{{ cake.description|safe }}</p>
        </div>
    </div>
{% endblock %}
