{% extends parent_template %}
{% block content %}
<ul class="thumbnails image-galery">
    {% for cake in cakes %}
    <li class="span3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail" rel="lightbox[group]">
          <a href="/cake/{{ cake.slug }}" class="ajax-link"><span class="glyphicon glyphicon-share text-muted"></span></a>
          <img class="group1" src="{{ cake.image.url }}" title="{{ cake.name }}"  alt="{{ cake.name }}" data-slug="/cake/{{ cake.slug }}"/>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="modal" id="modal-gallery" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
          <div id="modal-carousel" class="carousel">
            <div class="carousel-inner">
            </div>
            <a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
          </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
